<div class="row">
  <div class="col col-12">
    <h1>Alunos</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Endereço</th>
            <th scope="col">Email</th>
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="aluno in alunos">
            <th scope="row">{{aluno.id}}</th>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.cpf}}</td>
            <td>{{aluno.endereco}}</td>
            <td>{{aluno.email}}</td>
            <td>{{aluno.categoria}}</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
